@import "tailwindcss";

@theme {
  /*custom font family */
  --font-sans: "Inter", system-ui, sans-serif;

  /*custom text style */
  --text-body: {
    font-family: var(--font-sans);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
  };
}

@custom-variant dark (&:where(.dark, .dark *));
